<head>
  <!--link rel="stylesheet" media="print" href="printinfo.css"-->
  <!--%= stylesheet_link_tag "printinfo" %-->
  <title>Cross-Browser QRCode generator for Javascript</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
</head>
<body>

  <input id="text" type="text" value="<%= request.base_url + @roomid%>"" style="width:80%" /><br />

  <div class="row">
    <div class="column">
      Test
    </div>
    <div class="column">
      <div id="qrcode" style="width:300px; height:300px; margin-top:33px;"></div>
    </div>
  </div>

  <script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
	     width : 266,
	     height : 266
     });

     function makeCode () {
	      var elText = document.getElementById("text");

	       if (!elText.value) {
		         alert("Input a text");
		         elText.focus();
		     return;
	   }

	   qrcode.makeCode(elText.value);
}

makeCode();

$("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});
</script>
</body>
