<%
# Imprint page added for German Red Cross Heidelberg
%>

<div class="container text-center pt-9">
    <h1 class="h1 mb-3">Impressum</h1>
    <div class="container text-left pt-8">
      <div class="ueberrot2">Anbieterkennung nach § 5 TMG</div>
      <p><span class="ueberschwarz2"><br/>Deutsches Rotes Kreuz<br/> Kreisverband Rhein-Neckar/Heidelberg e. V. </span><br/> Langer Anger 2<br/> 69115 Heidelberg</p>
      <p>Tel.: 06221/90 10 0<br/> Fax: 06221/90 10 60<br/> <br/> <a href="/drk_heidelberg/adressen_links/kontaktformulare/sonstige/info_drk.php">Email an den Kreisverband</a><br/> Internet : www.drk-heidelberg.de<br/> <br/> <br/> <strong>Vertretungsberechtigt</strong><br/> Präsident Jürgen Wiesbeck</p>
      <p><strong><br/>Vereinsregister</strong><br/>Registergericht: Heidelberg <br/> Registernummer: VR 56</p>
      <p><strong><br/>Steuerliche Angaben</strong><br/> Umsatzsteueridentifikationsnummer: DE187250151<br/> <br/> <strong>Inhaltlich verantwortlich</strong><br/>Kreisgeschäftsführerin Caroline Greiner<br/> <br/> <strong>Redaktion der Website<span class="zwischenueber"><br/> </span></strong>Felix Zurbrüggen<br/> Tel.: 06221/90 10 77<br/> Fax: 06221/90 10 60<br/> <a href="/drk_heidelberg/adressen_links/kontaktformulare/personen/zurbrueggen.php">Email an Herrn Zurbrüggen</a></p>
      <p>&nbsp;</p>
      <hr/>
      <p class="ueberrot2"><br/>Haftung für Inhalte</p>
      <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br/><br/></p>
      <p class="ueberrot2">Haftung für Links</p>
      <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br/><br/></p>
      <p><span class="ueberrot2">Urheberrecht</span></p>
    </div>
</div>
