<%
# Imprint page added for German Red Cross Heidelberg
%>

<div class="container text-left pt-8">
    <div class="h1 mb-3">Impressum</div>
    <div class="h3 mb-2">Anbieterkennung nach § 5 TMG</div>
      <p><span><br/>Deutsches Rotes Kreuz<br/> Kreisverband Rhein-Neckar/Heidelberg e. V. </span><br/> Langer Anger 2<br/> 69115 Heidelberg</p>
      <p>Tel.: 06221/90 10 0<br/> Fax: 06221/90 10 60<br/> <br/> <a href="https://www.drk-heidelberg.de/drk_heidelberg/adressen_links/kontaktformulare/sonstige/info_drk.php">Email an den Kreisverband</a><br/> Internet : www.drk-heidelberg.de<br/> <br/> <br/> <strong>Vertretungsberechtigt</strong><br/> Präsident Jürgen Wiesbeck</p>
      <p><strong><br/>Vereinsregister</strong><br/>Registergericht: Heidelberg <br/> Registernummer: VR 56</p>
      <p><strong><br/>Steuerliche Angaben</strong><br/> Umsatzsteueridentifikationsnummer: DE187250151<br/></p>
      <p>&nbsp;</p>
      <hr/>
      <p class="h3 mb-2">Haftung für Links</p>
      <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br/><br/></p>
</div>
