<%
# Privacy policy page added for German Red Cross Heidelberg
%>

<div class="container text-center pt-9">
    <h1 class="h1 mb-3">Privacy policy</h1>
    <div class="container text-left pt-8">
        <h3>Controller / Provider</h3>
        <p class="h4 font-weight-normal mb-7">    
            Data processing controller for this service is DRK-Kreisverband Rhein-Neckar/Heidelberg e.V. (we, us). We run this videoconferencing system through the open source solution BigBlueButton Inc. hosted on a server of STRATO AG, a provider located in Germany.
        </p>
        <h3>Cookies</h3>
        <p class="h4 font-weight-normal mb-7">         
            In acordance with Art. 25 (2)(1) TTDSG we use cookies for functionality so as to allow users to use our service and interact while operating it. Further we use cookies to authenticate users in order to guarantee system security. You can delete the cookies by clearing the account information from the browser cache file. 
        </p>
        <h3>Legal basis and purposes of data processing</h3>
        <p class="h4 font-weight-normal mb-7"> 
            We collect and process personal data on the legal basis of Art. 6 (1)(f) GDPR with the legitimate interest of operating a system which permits us to offer online education courses. The purpose of data processing is the safe and faultless operation of the given system.
        </p>
        <h3>Personal data processing</h3>
        <p class="h4 font-weight-normal mb-7"> 
            In order to provide this service we collect personal data of the following catagories:<br>
            <b>Account data:</b> User name, email address<br>
            <b>Technical data:</b> IP address, cache data, log files
        </p>
        <h3>Retention</h3>
        <p class="h4 font-weight-normal mb-7"> 
            We will retain collected personal data for as long as required to supply the service and to ensure its security. Cache data and log files are deleted after two weeks.<br>
            If you are a trainer we set up a registered personal account. The account will be deleted by the administrator at the latest within a month after the end of your activity as a trainer. 
        </p>
        <h3>Your rights</h3>
        <p class="h4 font-weight-normal mb-7"> 
            European law grants you specific privacy rights which you may wish or need to exercise. These are:<br>
            <b>Right of access and/or portability.</b> You have the right of  access to personal data that we hold about you and, in some limited circumstances, have that data provided to you in an interoperable format.<br>
            <b>Right of erasure.</b> In certain circumstances you have the right of erasure of personal data (for example if it is no longer necessary for the purposes for which it was originally collected).<br>
            <b>Right to object to processing.</b> You have the right to request that we stop processing your personal data. In this case we consequently won’t be able to offer you the videoconferencing service further on.<br>
            <b>Right to rectification.</b> You have the right to require us to correct any inaccurate or incomplete personal information.<br>
            <b>Right to restrict processing.</b> In certain circumstances you have the right to request that we restrict processing of your personal data (for example, when you believe that the personal data we hold about you is not accurate or not lawfully held).<br>
            You also have the right to complain to a data protection authority about our collection and use of your personal data. In this case use the link below:<br>
            <a href="https://www.baden-wuerttemberg.datenschutz.de/online-beschwerde/">https://www.baden-wuerttemberg.datenschutz.de/online-beschwerde/</a>         
        </p>
        <h3>How to contact us</h3>
        <p class="h4 font-weight-normal mb-7">        
            If you have any questions related to your personal data, the way we process it or your privacy rights you may contact us via the address indicated below or ask your personal social advisor:<br><br>
            <b>DRK Kreisverband Rhein-Neckar / Heidelberg e.V.<br>
            Langer Anger 2<br>
            69115 Heidelberg<br></b>
            <a href= "mailto:datenschutz@drk-rn-heidelberg.de">datenschutz@drk-rn-heidelverg.de</a>            
        </p>
    </div>
</div>
