<%
# Privacy policy page added for German Red Cross Heidelberg
%>

<div class="container text-center pt-9">
    <h1 class="h2 mb-3"><%= t("privacypolicy.title") %></h1>
    <p class="h4 text-muted font-weight-normal mb-7"><%= t("privacypolicy.text") %></p>
</div>
