<div class="book">
  <div class="page">
    <div class="subpage">
      <h1 align="center">Sprachunterricht deutsch <i class="far fa-comment"></i></h1>
      <h1 align="center">Language course german</h1>

      <span style="display:block; height: 1cm;"></span>

      <div class="column" style="margin-left: 1cm">
        <h2><%= @room.name %></h2>
      </div>

      <span style="display:block; height: 1cm;"></span>

      <div class="row">
        <div class="column" >
          <i class="fas fa-chalkboard-teacher fa-10x" style="margin-left: 1cm;margin-right: 1cm"></i>
        </div>
        <div class="column">
          Bitte scannen Sie den QR-Code zu den Kurszeiten, um an dem Sprachunterricht teilzunehmen!<br>
          <br>
          Please scan the QR code at the bottom to join the language course at the scheduled hours!
        </div>
       </div>

      <span style="display:block; height: 2cm;"></span>

      <input id="text" type="text" value="<%= request.base_url + @room.invite_path %>" style="width:100%" /><br />

      <div class="row">
        <div id="qrcode" style="width:500px; height:500px; margin-top:20px; margin-left:auto; margin-right: auto"></div>
      </div>

      <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
          width : 400,
          height : 400
        });

        function makeCode () {
          var elText = document.getElementById("text");
          qrcode.makeCode(elText.value);
        }

        makeCode();
      </script>
    </div>
  </div>
</div>
