@page {
  size: A4;
  border: 5cm;
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 1.2cm auto;
  margin-top: 1.2cm auto;
  margin-bottom: 1.2cm;
  border: 2.5cm auto;
  border-top: 5.5cm;
  border-bottom: 2.5cm;
  border-left: 2.5cm;
  border-right: 2.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

1
html {
  border: 5cm;
  margin: 5cm;
  font-family: Arial, sans-serif;
  font-size: small;
}


/* Two image containers */
.column {
  float: left;
  width: 8cm;
  padding: 1cm;
  text-align: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
     text-align: center;
}

.myborder {
  margin: 2.5cm auto;
}
